.form span {
	color: red;
}

.form p {
	margin: 0px;
	display: block;
	font-weight: bold;
}

.form-label {
		font-family: 'PT Serif', serif;
}

.form {
	
	
	display: flex;
	flex-direction: column;
	padding: 25px 0px 15px 45px;
	background-color: #b2b2d1;
/* 	border-style: solid;
	border-width: 1px;
	border-color: black; */
	border-radius: 3px;
	width: 95%;
}


.size {
	border: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	break-before: always;
	margin: 0 0 0 0;
	width: 500px;
}

.size label {
    display: block;

}

.radioBlock {
	margin: 0 1.81em 0 0;
}

.sideElements {
	display: flex;
	justify-content: space-between;
	width: 50%;
}
