 .navbar {
	background-color: #474a56;
}

.navbar-dark .navbar-nav .nav-link {
    color: #d3d5fd;
    font-family: 'Poppins', sans-serif;
    
}

.imgBar img {
	width: 100%;
	height: 100px;
	object-fit: cover;
}
