.bold {
	font-weight: bold;
}

.card, .card .list-group-item {
	background-color: lightgray;
}

.longlatBoxed {
	display: flex;
	justify-content: space-between;
}

.latHeaders {
	display: flex;
	flex-direction: column;
}

.longHeaders {
	display: flex;
	flex-direction: column;
}

textarea {
	resize: none;
}

.textarea {
	width: 60%;
}

.form-element {
	margin-bottom: 10px;
}

.state-list {
	width: 15%;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

.card-columns {
	column-count: 1;
}

@media ( min-width : 768px) {
	.card-columns {
		column-count: 2;
	}
}

@media ( min-width : 992px) {
	.card-columns {
		column-count: 3;
	}
}