.bold {
	font-weight: bold;
}

.card, .card .list-group-item {
	background-color: lightgray;
}

.longlatBoxed {
	display: flex;
	justify-content: space-between;
}

.latHeaders {
	display: flex;
	flex-direction: column;
}

.longHeaders {
	display: flex;
	flex-direction: column;
}